<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Price: </th>
      <th>State</th>
      <th>City</th>
      <th>SquareFeet:</th>
      <th>Bathrooms</th>
      <th>Bedrooms</th>
    </tr>
  </thead>
  <tbody>
    <% homes.forEach(function(h) { %>
      <tr>
        <td>$<%= h.price %></td>
        <td><%= h.state %></td>
        <td><%= h.city %></td>
        <td><%= h.squareFeet %></td>
        <td><%= h.bathrooms %></td>
        <td><%= h.bedrooms %></td>
        <td><a href="/homes/<%= h._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
