<%- include('../partials/header') %>
<main>
  <h1 class="text-center">Individual Homes</h1>
  <div class="blog">
    <div class="container">
      <div class="row">
        <% homes.forEach(function(h) { %>
          <div class="col-md-4 col-lg-4 col-sm-12">
            <div class="card">
              <div class="card-body">
                  <h4 class="card-title"><%= h.address %></h4>
                  <p class="card-text">
                    <br>Price: $<%= h.price %></br>
                    <br>City: <%= h.city %> <br> State: <%= h.state %></br>
                    <br>Square feet: <%= h.squareFeet %></br>
                    <br>Bathrooms:<%= h.bathrooms %> <br> Bedrooms: <%= h.bedrooms %></br>
                  </p>
                </div>
              <div class="card-footer">
                <form action="/homes/<%= h._id %>">
                <button class="btn btn-primary card-link" type="submit">DETAILS</a></br>
                </form>
                </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
</div>  
</main>
  
  
<%- include('../partials/footer') %>
