<%- include('../partials/header') %>
<h1>Home Details</h1>
<section id="show-home">
    <div class="row">
        <div class="col-sm">Address: <%= home.address%> </div>
        <div class="col-sm">City: <%= home.city %> </div>
        <div class="col-sm">State: <%= home.state %> </div>
        <div class="col-sm">Price: $<%= home.price %> </div>
        <div class="col-sm">Square Feet: <%= home.squareFeet %> </div>
        <div class="col-sm">Bathrooms: <%= home.bathrooms %> </div>
        <div class="col-sm">Bedrooms: <%= home.bedrooms %> </div>
        <div class="col-sm">Year Built: <%= home.yearBuilt %> </div>
        <div class="col-sm">LotSize: <%= home.lotsize %> </div>
        <div class="col-sm">Number of Stories: <%= home.numberOfStories %> </div>
        <div class="col-sm">Days on Market: <%= home.daysOnMarket %> </div>
        <div class="col-sm">Pool: <%= home.pool ? "Yes" : "Nope" %> </div>
    </div>
    <div>Realtor:</div>
    <div><% realtor.realtor.forEach(function (r) { %>
        <div>Name: <%= r.name %></div>
        <div>Phone Number: <%= r.phoneNumber %></div>
        <div>Email: <%= r.email %></div>
        <div>Company: <%= r.company%></div>
        <div><a href="/realtors/<%= r._id %>">Click for Realtor details</a></div>
        <% }) %>
    </div>
        <form action="/homes/<%= home._id%>?_method=delete" method="POST" class="delete-home-form">
        <div>Delete Home Listing</div>
        <button type="submit">X</button>
    </form>
<form action="/homes/<%= home._id%>/edit">
    <button type="submit">Click to edit Home Listing</button>
</form>
</section>

<section id="home-realtor">

</section>


<%- include('../partials/footer') %>