<%- include('../partials/header') %>
<div class="text-center"><h1>Home Details</h1></div>
<section id="show-home">
    <div class="row">
        <div class="col-sm-2"><h4>Address:</h4> <%= home.address%> </div>
        <div class="col-sm-2"><h4>City: </h4><%= home.city %> </div>
        <div class="col-sm-2"><h4>State: </h4><%= home.state %> </div>
        <div class="col-sm-2"><h4>Price: </h4>$<%= home.price %> </div>
        <div class="col-sm-2"><h4>Square Feet: </h4><%= home.squareFeet %> </div>
        <div class="col-sm-2"><h4>Bathrooms:</h4> <%= home.bathrooms %> </div>
        <div class="col-sm-2"><h4>Bedrooms: </h4><%= home.bedrooms %> </div>
        <div class="col-sm-2"><h4>Year Built: </h4><%= home.yearBuilt %> </div>
        <div class="col-sm-2"><h4>LotSize: </h4><%= home.lotsize %> </div>
        <div class="col-sm-2"><h4>Number of Stories: </h4><%= home.numberOfStories %> </div>
        <div class="col-sm-2"><h4>Days on Market: </h4><%= home.daysOnMarket %> </div>
        <div class="col-sm-2"><h4>Pool: </h4><%= home.pool ? "Yes" : "Nope" %> </div>
    </div>
</section>
<main>
    <div class="text-center">
    <form action="/homes/<%= home._id%>/edit">
    <button class="btn btn-primary" type="submit">Click to edit Home Listing</button>
    </form>
    </div>
    <h1 class="text-center">Realtors</h1>
  <div class="blog">
    <div class="container">
      <div class="row">
        <% realtor.realtor.forEach(function(r) { %>
          <div class="col-md-4 col-lg-4 col-sm-12">
            <div class="card">
              <div class="card-img">
                <!-- <img src="/headerback.jpeg" class="img-fluid"> -->
              </div>
              <div class="card-body">
                  <h4 class="card-title"><%= r.name %></h4>
                  <p class="card-text">
                    <br>Email: <%= r.email %></br>
                    <br>Phone Number: #<%= r.phoneNumber %></br>
                    <br>Company: <%= r.company %></br>
                  </p>
                </div>
              <div class="card-footer">
                  <form action="/realtors/<%= r._id %>">
                  <button class="btn btn-primary card-link" type="submit">DETAILS</a></br>
                  </form>
                </div>
            </div>
          </div>
          <% }); %>
          <div class="text-center">
          <form action="/homes/<%= home._id%>?_method=delete" method="POST" class="delete-home-form">
              <div><h4>Delete Home Listing</h4></div>
              <button class="btn btn-primary" type="submit">X</button>
              </form>
          </div>
        </div>
      </div>
    </div>
</div>

</main>  
<section id="home-realtor">

</section>


<%- include('../partials/footer') %>