<%- include('../partials/header') %>
<main>
  <h1 class="text-center">Realtors</h1>
  <div class="blog">
    <div class="container">
      <div class="row">
        <% realtors.forEach(function(r) { %>
          <div class="col-md-4 col-lg-4 col-sm-12">
            <div class="card">
              <div class="card-img">
                <!-- <img src="/headerback.jpeg" class="img-fluid"> -->
              </div>
              <div class="card-body">
                  <h4 class="card-title"><%= r.name %></h4>
                  <p class="card-text">
                    <br>Email: <%= r.email %></br>
                    <br>Phone Number: #<%= r.phoneNumber %></br>
                    <br>Company: <%= r.company %></br>
                  </p>
                </div>
              <div class="card-footer">
                <form action="/realtors/<%= r._id %>">
                  <button class="btn btn-primary card-link" type="submit">DETAILS</a></br>
                  </form>
                </div>
            </div>
          </div>
          <% }); %>
        </div>
      </div>
    </div>
  </div>
</div>  
</main>
  
<%- include('../partials/footer') %>
