<%- include('../partials/header') %>
<table id="list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Email</th>
      <th>Company</th>
    </tr>
  </thead>
  <tbody>
    <% realtors.forEach(function(r) { %>
      <tr>
        <td><%= r.name%></td>
        <td><%= r.phoneNumber %></td>
        <td><%= r.email %></td>
        <td><%= r.company %></td>
        <td><a href="/realtors/<%= r._id %>">DETAILS</a></td>
      </tr>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
