<%- include('../partials/header') %>
    <h1>Realtor Details</h1>
    <section id="show-home">
        <div class="container">
            <div class="row">
                <div class="col-sm-3"><h4>Name: </h4><%= realtor.name%>
                </div>
                <div class="col-sm-3"><h4>Phone Number: </h4>#<%= realtor.phoneNumber %>
                </div>
                <div class="col-sm-3"><h4>Email: </h4><%= realtor.email %>
                </div>
                <div class="col-sm-3"><h4>Company: </h4><%= realtor.company %>
                </div>
            </div>
        </div>

        <!-- THIS IS AN ICEBOX FEATURE
    DISPLAY HOMES THAT ARE THE REALTORS LISTINGS -->
        <!-- <div>Home Listings:</div>
    <div>% realtor.home.forEach(function (h) { %></div>
        <div>Price: $%= h.price %></div>
        <div>City: %= h.city %></div>
        <div>State: %= h.state %></div>
        <div><a href="/homes/%= h._id %>">Click for Home details</a></div>
        % }); %> -->
        <form action="/realtors/<%= realtor._id%>/edit">
            <button class="btn btn-primary" type="submit">Click to edit Realtor</button>
        </form>
        <div class="blog">
            <div class="container">
                <div class="row">
                    <div class="text-center">Comments/Reviews:</div>
                        <% realtor.comments.forEach(function (c, idx) { %>
                            <div class="col-md-4 col-lg-4 col-sm-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Rating: <%= c.rating %>
                                        </h4>
                                        <p class="card-text">
                                            <br>
                                            <%= c.content %></br>
                                                <div>Recommendation: <%= c.recommendation ? "Yes" : "No" %>
                                                </div>

                                    </div>
                                    <div class="card-footer">
                                        <form action="/realtors/<%= realtor._id %>/comments/<%= c._id %>?_method=delete"
                                            method="POST" class="delete-comment-form">
                                            <button class="btn btn-primary" type="submit">Delete Comment</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                </div>
            </div>
            <div>
            </div>
        </div>
        <a href="/realtors/<%= realtor._id %>/comments/new">Click to add Comment/Review</a>
        <div class="text-center">
            <form action="/realtors/<%= realtor._id%>?_method=delete" method="POST" class="delete-realtor-form">
                <div>Delete Realtor</div>
                <button class="btn btn-primary" type="submit">X</button>
            </form>
       </div>
    </section>

    <%- include('../partials/footer') %>